<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lilac - магазин цветов в Москве</title>
    <link rel="icon" href="/images/flower.ico" type="image/x-icon">
    <link href="../static/styles/style.css" th:href="@{/styles/style.css}" rel="stylesheet" />
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</head>
<body>
<div class="BigHeader">
    <div class="header">
        <img src="images/flower.png" th:src="@{/images/flower.png}" alt="Logo">
        <div class="icons">
            <a href="" ><i class="fa fa-facebook fa-1x" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-youtube" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-camera-retro" aria-hidden="true"></i></a>
        </div>
        <p id="lilac">Lilac</p>
        <p id="descriptionlilac">Магазин цветов в городе Москва, огромный ассортимент,
            работаем с любовью 24/7, доставка в любую точку города</p>
        <a th:href="@{/basket}">
            <img class="basket" src="images/cart.png" th:src="@{/images/cart.png}">
        </a>
    </div>
</div>
<div class="BigContent">
    <div class="content">
        <div class="menu">
            <div id="menucaption"><p>Меню</p></div>
            <a href="">
                <div class="menuitem"><p>О нас</p></div>
            </a>
            <a th:each="element : ${types}" th:href="@{'/#' + ${element.id}}">
                <div class="menuitem">
                    <p th:text="${element.name}"></p>
                </div>
            </a>
            <a th:href="@{/productTypeList}">
                <div class="menuitem"><p>Админ</p></div>
            </a>
            <a href="">
                <div class="menuitem"><p>Акции</p></div>
            </a>
            <a href="">
                <div class="menuitem"><p>Контакты</p></div>
            </a>
        </div>
        <div class="products">
        <div class="newproducts">
            <div id="products_caption">
                <p>Корзина</p>
            </div>
            <div>
              <div class="product" th:each="basket : ${map}" th:attr="onclick=|window.location.href='product?id=' + ${basket.key.product.id}|">
                    <img class="triangle" src="images/New.png" alt="new" th:if="${basket.key.product.newProduct} == true">
                    <img class="triangle" src="images/Hot.png" alt="new" th:if="${basket.key.product.hotProduct} == true">
                    <img class="foto" th:src="@{'/images/' + ${basket.key.product.image}}" alt="">
                    <div class="product_name" th:text="${basket.key.product.name}">
                    </div>
                    <div class="product_price_basket">
                        ₽ <span th:text="${basket.key.product.price}"></span><br>
                        <span class="product_old_price" th:unless="${basket.key.product.oldPrice} == 0">
                                        ₽ <span th:text="${basket.key.product.oldPrice}"></span>
                            <br>
                                    </span>
                        <span class="product_price_basket" th:text="'x' + ${basket.key.quantity}"></span>
                        <span class="product_price_basket" th:text="'₽ ' + ${basket.value}"></span>
                    </div>
                </div>
                <div class="buyProduct">
                    <form th:action="@{/basket}" th:object="${order}" method="post">
                        <label>Ваше имя</label>
                        <input type="text" class="input" th:field="*{name}" required/>
                        <label>Ваш номер телефона</label>
                        <input type="text" class="input" th:field="*{phoneNumber}" required/>
                        <p><input type="submit" class="btn btn-secondary" value="Купить"/>
                    </form>
                </div>
            </div>
        </div>
        </div>
        <div class="now">
            <p>Мы открыты!</p>
        </div>
        <div id="instagram">
            <p>
                <i class="fa fa-instagram" aria-hidden="true"></i>
                Instagram: #lilac
            </p>
        </div>
        <div id="foto">
            <img src="images/foto1.png" th:src="@{/images/foto1.png}" alt="foto1">
            <img src="images/foto2.png" th:src="@{/images/foto2.png}" alt="foto2">
            <img src="images/foto3.png" th:src="@{/images/foto3.png}" alt="foto3">
            <img src="images/foto4.png" th:src="@{/images/foto4.png}" alt="foto4">
            <img src="images/foto5.png" th:src="@{/images/foto5.png}" alt="foto5">
            <img src="images/foto6.png" th:src="@{/images/foto6.png}" alt="foto6">
        </div>
        <div id="stride"></div>
    </div>
</div>
<div class="BigFooter">
    <div class="SubFooter">
        <div class="ContentSubFooter">
            <div id="copy">
                &copy; LILAC. All rights reserved.
            </div>
            <div id="social">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                <i class="fa fa-google-plus" aria-hidden="true"></i>
                <i class="fa fa-tumblr" aria-hidden="true"></i>
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <i class="fa fa-rss" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>
</body>
</html>